{% if page.title != "Home" %}
<footer>
  <p>
    <!-- &copy; {{site.copyyear}}, {{site.authors}} and Northumbria University, <br/> -->
    {% unless page.license contains 'not needed' %}
      Code released under 
      <a href="{{page.license}}">the MIT License</a>.
    {% endunless %}
  </p>
</footer>
{% endif %}
