    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl | prepend: site.url}}">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for link in site.links %}
              <li class="{% if page.url == link.url %} active{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Labs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for link in site.lab_links %}
                  <li class="{% if page.url == link.url %} active{% endif %}">
                    <a href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Repositories <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--{% for link in site.lab_links %}-->
                  <!--<li class="{% if page.url == link.url %} active{% endif %}">-->
                    <!--<a href="https://github.com/DavidKendall/{{ link.rep }}">{{ link.title }}</a>-->
                  <!--</li>-->
                <!--{% endfor %}-->
              <!--</ul>-->
            <!--</li>-->
            {% for link in site.right_links %}
              <li class="{% if page.url == link.url %} active{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
